.icon {

    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: thin solid black;
}


.icon hover {
    background-color: white;
}

.icon-refresh {
    background: url(./../img/web-icons-set/refresh.png) no-repeat ;
    background-size: 25px 25px;
    background-position-x: center;
    background-position-y: center;
}

.icon-browser {
    background: url(./../img/web-icons-set/browser.png) no-repeat ;
    background-size: 25px 25px;
    background-position-x: center;
    background-position-y: center;
}
